*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
.idea/
.run/
.vscode/
.idx/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/local.properties
android/kotlin/poms
android/target
android/.gradle
android/app/build
android/app/releases
android/app/src/main/assets/flutter_assets
*.jks
*.keystore
*.key
*.db
*.db-shm
*.db-wal
!/android/gradle/wrapper/gradle-wrapper.jar
!/assets/fonts/
